@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>My Blog</h3>

<p>This site is to display news in various fields, whether sports, health, science, environment, jobs, technology, education...
And everything you want to know in various fields</p>
