@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blog</h1>
    <p class="lead">This site to display news about more news you are need to know such as (Sports, Health, Science, Jobs......)</p>
    <p><a href="#">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Science</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos assumenda quasi eum quidem at et commodi? Reprehenderit, voluptates neque assumenda veritatis, minus eum consequatur incidunt doloremque ipsum, quidem nihil repellat!
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <p>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos assumenda quasi eum quidem at et commodi? Reprehenderit, voluptates neque assumenda veritatis, minus eum consequatur incidunt doloremque ipsum, quidem nihil repellat!
</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos assumenda quasi eum quidem at et commodi? Reprehenderit, voluptates neque assumenda veritatis, minus eum consequatur incidunt doloremque ipsum, quidem nihil repellat!
</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

